* {
	box-sizing: border-box;
    /*border: 1px solid red !important;*/
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.header {
    display: block;
    text-align: center;
    font-size: 35px;
}

.hidden {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.sidebar-desktop {
    display: none;
    
}

.flex-container {
    display: flex;
}

.flex-container img {
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-container img:hover {
    padding: 2px;
    background-color: rgb(206, 206, 206);
    border-radius: 25px;
}

.flex-item {
    padding: 10px;
    margin: 10px;
}

ul {
    padding-left: 0;
}

.navbar {
    list-style-type: none;
    padding: 0;
    background-color: #111;
}

.navbar a {
    font-size: 35px;
    color: white;
    padding: 8px;
    align-content: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding 10px 0;
    height: 150px;
}



/* Add Animation */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.1) 
    }
    to {
        transform: scale(1)
    }
}

/* the Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens*/
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


.color-black {
    color: black;
}

form {
    text-align: center;
}

textarea {
    padding: 5px;
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input {
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(156, 156, 156);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.submit-button {
    padding: 10px 16px 10px 16px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #111;
}

.submit-button:hover {
    color: #00ff00;
}

p.center-text {
    padding: 25px;
}

label, input {
    display: inline-block;
}

.contact-header {
    font-size: 55px;
}

label {
    margin-bottom: 15px;
    margin-top: 15px;
}

.submit-my-form {
    background-color: rgb(0 189 25);
    font-weight: bold;
    margin-bottom: 25px;
    padding: 15px 32px;
    text-align: center;
    color: white;
    border: 1px rgba(0, 0, 0, 0.5);
    box-shadow: none;
    cursor: pointer;
}

.submit-my-form:hover {
    background-color: #006800;
}


input.submit-form {
    background-color: rgb(0 189 25);
    font-weight: bold;
    margin-bottom: 25px;
    padding: 12px;
    color: white;
    border: 1px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

input.submit-form:hover {
    background-color: #006800;
}

h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.center-text {
    text-align: center;
}

.header-background {
    background-size: cover;
    background-image: url("background.pic-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 225px;
    margin-top: -5px;
}




ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0 189 25);
}

a:hover {
    color: #00ff00;
}

img { 
    max-width: 100%;
    max-height: 100%;
}

h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 37px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    color: white;
    background-color: #111;
    padding: 20px;
}

.sidebar h2 {
    font-size: 40px;
    margin: 5px;
}

.sidebar p {
    font-size: 20px;
    margin: 5px;
}

.sidebar img {
    align-self: center;
    width: 140px;
    padding: 10px;
    margin: 10px;
    border-radius: 0 50% 0 50%;
    box-shadow: 11px 10px 6px inset white;
    background-color: #b4b4b4;
}

.arrow-up {
    position: fixed;
    bottom: 30px;
    margin-left: 90%;
    margin-right: 20px;
    background-color: rgb(0 189 25);
    border-radius: 25px;
}

.arrow-up:hover {
    background-color: #00ff00;
}

.contact-email {
    background: rgb(14, 14, 14);
    padding: 20px;
    color: rgba(209, 209, 209, 0.774);
    text-align: left;
}

.contact-email h4 {
    font-size: 20px;
}

.contact-email p {
    font-size: 15px;
}

.contact-email a {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    display: inline-block;
    border: none;
}

.contact-email a:hover {
    color: rgb(14, 14, 14);
    background-color: rgba(209, 209, 209, 0.774);
}




@media only screen and (min-width: 600px) {
    /* For tablets: */
    .flex-container {
        display: flex;
    }

    .photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-item {
        width: 45%;
    }

    .sidebar h2, .sidebar p {
        text-align: left;
    }

    .arrow-up {
        display: none;
    }

    .navbar {
        width: 100%;
        display: inline-block;
        position: sticky;
        top: 0;
    }

    div.navbar li {
        float: right;
    }

    .navbar a {
        font-size: 25px;
        margin-right: 35px;
    }

    .hidden {
        display: inline;
    }

    .header-background {
        height: 158px;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar img {
        width: 130px;
        margin: 20px;
    }

    .sidebar p {
        display: inline;
        margin: auto;
        font-size: 1.4em;
    }

    .sidebar h2 {
        text-align: center;
        margin: 10px;
        margin-left: 28px;
    }

}

@media  only screen and (min-width: 760px) {
    /* For desktop: */
    .flex-container {
        display: flex;
    }
    
    .photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-item {
        width: 30%;
    }

    div.navbar li {
        overflow: hidden;
        float: right;
    }

    .sidebar {
        display: none;
    }

    .photo-container {
        display: flex;
    }

    .sidebar-desktop {
        flex-basis: 20%;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
        color: white;
        background-color: #111;
        padding: 30px;
        margin: 15px;
    }

    .sidebar-desktop h2 {
        font-size: 3em;
        margin: 5px;
    }
    
    .sidebar-desktop p {
        font-size: 1.7em;
        margin: 10px;
    }

    .sidebar-desktop img {
        width: 180px;
        padding: 12px;
        margin: 25px;
        border-radius: 0 50% 0 50%;
        box-shadow: 11px 10px 6px inset white;
        background-color: #b4b4b4;  
    }

}
