/*
    Notes

    navigation background color: rgb(255, 255, 255);
    
*/


* {
	box-sizing: border-box;
    /*border: 1px solid red !important;*/
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #080808;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.sidebar-desktop {
    display: none;
    
}

.header-container {
    background-color: black
    background-size: cover;
    background-image: url("background-for-header.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.header-background {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    margin: -5px 0px 0px 0px;
    padding: 60px;
    height: auto;
    text-align: left;
}

.header-background h2 {
    font-size: 75px;
    margin-bottom: 20px;
}

.header-background p {
    font-size: 23px;
    margin: 14px 0px 14px 0px;
}

.contact-button {
    display: inline-block;
    font-size: 21px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    text-transform: uppercase;
}

.contact-button a {
    color: #111;
}

.flex-container {
    display: flex;
}

.flex-container img {
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-container img:hover {
    padding: 2px;
    background-color: rgb(206, 206, 206);
    border-radius: 25px;
}

.flex-item {
    padding: 10px;
    margin: 10px;
}

ul {
    padding-left: 0;
}

.navbar {
    list-style-type: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.navbar a {
    font-size: 25px;
    color: black;
    padding: 8px;
    align-content: center;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding 10px 0;
    height: 150px;
}



/* Add Animation */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.1) 
    }
    to {
        transform: scale(1)
    }
}

/* the Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* 100% Image Width on Smaller Screens*/
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


.color-black {
    color: black;
}

form {
    text-align: center;
}

textarea {
    padding: 0px;
    border: none;
}

input {
    text-align: center;
    border: none;
    padding: 7px;
    margin: 5px;
}

.submit-button {
    padding: 10px 16px 10px 16px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #111;
}


p.center-text {
    padding: 25px;
}

label, input {
    display: inline-block;
    font-size: 18px;
}

.contact-header {
    font-size: 55px;
}

label {
    margin-bottom: 15px;
    margin-top: 15px;
}

.submit-my-form {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    padding: 15px 32px;
    text-align: center;
    color: #031305e6;
    box-shadow: none;
    cursor: pointer;
}


input.submit-form {
    background-color: rgb(0 189 25);
    font-weight: bold;
    margin-bottom: 25px;
    padding: 12px;
    color: white;
    box-shadow: none;
}

input.submit-form:hover {
    background-color: #1eac31e6;
}

h3 {
    font-family: 'Besley', serif;
    text-align: center;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: white;
}

.center-text {
    text-align: center;
}



ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;

}

img { 
    max-width: 100%;
    max-height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    color: white;
    background-color: #111;
    padding: 20px;
}

.sidebar h2 {
    font-size: 40px;
    margin: 5px;
}

.sidebar p {
    font-size: 20px;
    margin: 5px;
}

.sidebar img {
    align-self: center;
    width: 140px;
    padding: 10px;
    margin: 10px;
    border-radius: 0 50% 0 50%;
    box-shadow: 11px 10px 6px inset white;
    background-color: #b4b4b4;
}

.arrow-up {
    position: fixed;
    bottom: 30px;
    margin-left: 90%;
    margin-right: 20px;
    background-color: #111;
    border-radius: 25px;
}

.arrow-up:hover {
    background-color: rgb(17, 199, 0);
}

.contact-email {
    background: white;
    padding: 20px;
    color: #111;
    text-align: left;
}

.contact-email h4 {
    font-size: 15px;
    margin-bottom: 11px;
}

.navbar a:hover, .contact-email a:hover, .contact-button a:hover {
    color: rgb(17, 199, 0);
}

.contact-email p {
    font-size: 13px;
}

.contact-email a {
    font-size: 14px;
    background-color: #111;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    border: none;
}

@media only screen and (max-width: 599px) {
    /* For phones: */
    .header-background h2, .header-background p {
        text-align: center;
    }

    .contact-button {
        display: block;
        text-align: center;
    }

    .sidebar {
        text-align: center;
    }

    .contact-email {
        text-align: center;
    }
    
    .header-background h2 {
        font-size: 40px;
    }


}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .flex-container {
        display: flex;
    }

    .photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar-desktop {
        flex-basis: 10%;
    }

    .flex-item {
        width: 46%;
    }

    .sidebar h2, .sidebar p {
        text-align: center;
    }

    .arrow-up {
        display: none;
    }

    .navbar {
        width: 100%;
        display: inline-block;
        position: sticky;
        top: 0;
    }

    div.navbar li {
        float: left;
    }

    .navbar a {
        font-size: 22px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .navbar a:hover, .contact-email a:hover, .contact-button a:hover {
        color: rgb(17, 199, 0);
    }

    .hidden {
        display: inline;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar img {
        width: 130px;
        margin: 20px;
    }

    .sidebar p {
        display: inline;
        margin: auto;
        font-size: 1.4em;
    }

    .sidebar h2 {
        text-align: center;
        margin: 10px;
        margin-left: 28px;
    }



}

@media  only screen and (min-width: 760px) {
    /* For desktop: */
    .flex-container {
        display: flex;
    }
    
    .photo-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 75%;
    }

    .flex-item {
        width: 30%;
    }

    div.navbar li {
        overflow: hidden;
        float: left;
    }

    .sidebar {
        display: none;
    }

    .photo-container {
        display: flex;
    }

    .sidebar-desktop {
        flex-basis: 15%;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
        color: white;
        background-color: #111;
        padding: 10px;
        height: auto;
        margin: 19px 10px 10px 54px;
    }

    .sidebar-desktop h2 {
        font-size: 30px;
        margin: 5px;
        color: white;
        text-align: center;
    }
    
    .sidebar-desktop p {
        color: white;
        font-size: 24px;
        margin: 10px;
    }

    .sidebar-desktop img {
        width: 180px;
        padding: 12px;
        margin: 25px;
        border-radius: 0 50% 0 50%;
        box-shadow: 11px 10px 6px inset rgb(36, 36, 36);
        background-color: #080808e6;  
    }

}
